@font-face {
  font-family: "IranSANS";
  src: url("fonts/IRANSansX-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "IranSANS", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
Overrides `antd` default class for submenues
no proper way of handling this in the docs
*/
.ant-menu-item {
  direction: rtl;
  text-align: right;
}
