@font-face {
  font-family: "IranSANS";
  src: url("fonts/IRANSansX-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IranSANSBold";
  src: url("fonts/IRANSansX-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: "IranSANS", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
Overrides `antd` default class for submenues
no proper way of handling this in the docs
*/
.ant-menu-item {
  direction: rtl;
  text-align: right;
}

// ------------------ ERROR PAGE (404, etc.) STYLES ------------------
.panel-error-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  overflow: hidden;

  h1 {
    font-size: 3rem;
    font-family: "IranSANSBold";
    margin: 0;
  }
}
